100 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../../kernel/boot/bootsec.bin"
101 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../../kernel/boot/hdboot.bin"
102 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../../kernel/boot/fdboot.bin"
103 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../../kernel/boot/gptboot.bin"
104 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../../kernel/boot/gptload.bin"
