100 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../../kernel/boot/bootsec.bin"
101 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../../kernel/boot/hdboot.bin"
102 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../../kernel/boot/fdboot.bin"

