100 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../bios/loader/bootsec.bin"
101 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../bios/loader/hdboot.bin"
103 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../bios/loader/gptboot.bin"
104 RCDATA LOADONCALL MOVEABLE DISCARDABLE "../bios/loader/gptload.bin"
